code,
tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: #1b1f230d;
    border-radius: 3px;
}

code,
pre,
tt {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
}

details {
    margin-top: 0;
    margin-bottom: 16px;
    display: block;
}

details summary {
    cursor: pointer;
}

summary {
    display: list-item;
}

h4 {
    font-size: 1em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body pre {
    word-wrap: normal;
}

.markdown-body .highlight {
    margin-bottom: 16px;
}

.blue{
    color:  blue;
}

.violet{
    color: violet;
}

.pink{
    color : rgb(187, 103, 117);
}