* {
    font-weight: 300 !important;
    font-family: sans-serif;
    /* padding: 0; */
    /* margin: 0; */
}

b {
    font-weight: 600 !important;
    color: rgb(43, 153, 226);
}

pre {
    border: 1px solid gainsboro;
    background-color: rgba(220, 220, 220, 0.349);
    width: 50%;
    padding: 0px;
}

.divider {
    /* border-bottom: 2px dashed rgb(43, 153, 226); */
    width: 100vw;
}

.bg:nth-of-type(odd) {
    padding: 20px;
    /* margin-bottom: 10px; */
    margin: 10px;
    background-color: rgb(237, 248, 248);
}

.bg:nth-of-type(even) {
    padding: 20px;
    margin: 10px;
    background-color: rgb(243, 239, 239);
}

.responsive {
    /* max-width: 100%; */
    width: auto;
    max-height: 400px;
    display: block;
}